body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #5c5c5c; /* Light gray background */
  border-left: 20px solid #2F2FA2;
  border-top-left-radius: 20px; /* Rounded top-right corner */
}

/* Header styles */
.header {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #f64c72, #2F2FA2);
  color: white;
  position: relative; /* Add relative positioning to the header */
}

.header h1 {
  font-size: 1.5em;
  letter-spacing: 5px;
  font-weight: bold;
  padding-left: 50px;
  margin-top: 0; /* Remove default margin */
}

.header .account-info {
  font-size: 1.2em;
  margin-left: 30px;
  padding-bottom: 10px;
}

.no-wallet-message {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #f64c72, #2F2FA2);
  color: white;
  position: relative; /* Add relative positioning to the header */
}

.no-wallet-message {
  font-size: 1.5em;
  letter-spacing: 5px;
  font-weight: bold;
  padding-left: 50px;
  margin-top: 0; /* Remove default margin */
}

.no-wallet-message .account-info {
  font-size: 1.2em;
  margin-left: 30px;
  padding-bottom: 10px;
}

/* Apply the same blue line to all sections */
.section-with-border {
  padding-left: 20px; /* Adjust padding as needed */
}

.fcoin-logo {
  position: absolute;
  top: 30px; /* Adjust top position */
  right: 30px; /* Adjust right position */
  max-width: 175px; /* Set maximum width */
  max-height: calc(100% - 60px); /* Adjust the height relative to the header */
  width: auto;
  height: auto;
}